<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <form (ngsubmit)="mySubmit(myForm.value)">
    <div class="form-group">
      <h1 class="text-center text-danger">Shopping Time</h1>
        <div class="input-group-prepend">
          <input #myItem type="text" class="form-control" placeholder="Add Item" name="itemlist" ngModel>
          <span class="input-group-text" (click)="addItem (myItem.value)"><i class="material-icons">add</i></span>
        </div>
        <div class="data">
            <ul class="list-instyled">
             <li *ngFor="let myItem of itemArray; index as i;">{{myItem}}
                <i (click)="deleteItem(i)" class="material-icons">close</i><i class="material-icons">done</i>
            </li>
            </ul>
        </div>
    </div>
  </form>
</div>

